/* CSS crunched with Crunch - http://crunchapp.net/ */
html {
  font-size: 10px;
}
@media (max-width: 720px) {
  html {
    font-size: 10px;
  }
}
body {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-top: 4.6875rem;
  font-family: Arial, Tahoma, Helvetica, sans-serif;
  color: #000000;
  font-size: 1.333125rem;
  line-height: 1.2;
  background: #ffffff;
}
a {
  color: #217568;
  text-decoration: underline;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a:focus {
  -moz-box-shadow: 0 0 3px 1px #e1a500;
  -webkit-box-shadow: 0 0 3px 1px #e1a500;
  box-shadow: 0 0 3px 1px #e1a500;
}
a:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.overflowhidden {
  overflow: hidden;
}
