
body{background-color: #006163}
.style1 {color: #FFFFFF; font-weight: bold; font-family:Arial; font-size:20px}
.style2 {color: #FFFFFF;  font-family:Arial; font-size:15px}
.style3 {color: #FFFFFF;  font-style: italic; font-family:Arial; font-size:15px}
.style4 {color: #FFFFFF;  font-weight: bold; font-size:15px}
